@use "functions";
@import "variables";

.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

@for $i from 1 through 5 {
  .gap-#{$i} {
    gap: functions.resolveRem($i);
  }
}

@each $position in $positions-align {
  .justify-content-#{$position} {
    justify-content: functions.resolvePosition($position);
  }
}

@each $position in $positions-align {
  .align-items-#{$position} {
    align-items: functions.resolvePosition($position);
  }
}
